<div class="parallax"></div>
<p>poweredBy = summitSoles

  <div class="box-canvas">
    <div class="cog cog-one">
      <div class="teeth vertical"></div>
      <div class="teeth horizontal"></div>
    </div>
    <div class="cog cog-two">
      <div class="teeth vertical"></div>
      <div class="teeth horizontal"></div>
    </div>
    
    <div class="cog cog-three">
      <div class="teeth vertical"></div>
      <div class="teeth horizontal"></div>
    <div>
  </div>
<div class="parallax"></div>