{% extends 'layout.html' %}
{% block content %}

<h1>sign-in page</h1>
<p>enter your user id and password to view your stats on this website</p>

<center>
<form action="" method="post">
<label for="username"></label>
<input type="text" id="userid" name="userid" placeholder="user id"></br>
  
<label for="password"></label>
<input type="text" id="password" name="password" placeholder="password"></br>
<button type="submit" class = "glow-on-hover">Log-in</button></br>
  
</form>
</center>

{% endblock %}